<section class="StaticPages Home">

<div id="promo">
	
		<div class="container">
			<div class="hero-unit">	
				<div class="row">
					<div class="col-md-6">
						<iframe src="//player.vimeo.com/video/20534171?title=0&amp;byline=0&amp;color=ffffff" width="400" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

					</div>
					
					<div class="col-md-6">
					<h1>Birlikte Para Toplamanin Yeni Yolu</h1>
					<p> 
						Havuzla.com ile arkadaslariniz arasinda kolayca ve guvenle para toplayabilirsiniz
					</p>

					
					<%= link_to 'YENI BIR HAVUZ OLUSTUR <i class="icon-chevron-right"></i>'.html_safe, root_path, {:style=>'min-width:330px; font-family: "Lato"', :class => "btn  btn-red btn-huge"} %> 
						
					<p style="margin-top: 30px; font-size: 1.2em;">
						ya da  <%= link_to '#', :title => "see how" do %>
	     						<strong> nasil calistigini gorun</strong>
	     					<% end %>
							<i class="fa fa-camera-retro"></i>
					</div>
				</div>
				</div>
		
		</div>
	

</div>

<!-- Under
==================================  -->

<div class="homepage" id="under">
	<div class="container">
		<div class="steps">
			<div class="step">
				<%= image_tag("homepage_launch_a_campaign.jpg")%>
					<div>
						<h3>BIR HAVUZ YARATIN</h3>
						<p>Ulasmak istediginiz tutarı ve katilimcilari secmeniz yeterli </p>
					</div>
			</div>
			<div class="arrow-seperator">-</div>
			<div class="step">
				<%= image_tag("homepage_spread_the_word.jpg")%>
					<div>
						<h3>HAVUZUNUZDA PARA TOPLANSIN</h3>
						<p>Arkadaslariniz Havuzla.com'un kolay ve guvenli sistemi ile katkida bulunsunlar </p>
					</div>
			</div>
			<div class="arrow-seperator">-</div>
			<div class="step">
				<%= image_tag("homepage_reach_your_goal.jpg")%>
					<div>
						<h3>HAVUZUNUZU HARCAYIN</h3>
						<p>Ister havuzu banka hesabiniza aktarin, ister anlasmali alisveris sitelerinde harcayin</p>
					</div>
			</div>
		</div>
	</div>
</div>

<!-- Under Finishes Here
==================================  -->

</section>
