<div id="page_container">

	<header id="header" class="group">
		<h1 id="logo"><%= link_to "HAVUZLA.com", "/" %></h1>
		
		<div id="right_header"> 
			<div class="group" id="upper_header"> </div>
			
			<div class="group" id="lower_header">
				<nav class="menu" id="menu"> 
					<ul>
						<li class="selected first"> <%= link_to "Home", "/" %> </li>
						<li class> <%= link_to "About", "/" %> </li>
						<li> <%= link_to "Shutl.it", "http://shutl.it", "target" => "_blank" %> </li>
						<li class="last"> <%= link_to "Contact", "/" %> </li>
					</ul>
				</nav>
				<div id="other"> 
					<%= link_to "Partner with Shutl", "http://business.shutl.com/uk", { :class => "button site-switcher" } %>
				</div>

			</div>
		
		</div>

	</header>

	<section id="page">

	</section>



</div>