<footer>
<div class="container">

	<div class="group" id="footer_links">
		<div class="links"> 
			<h3>HAKKINDA</h3>
			<p><%= link_to "Hakkımızda", "#" %></p>
			<p><%= link_to "Basında Biz", "#" %></p>
			<p><%= link_to "Kullanıcı Yorumları", "#" %></p>
			<p><%= link_to "İletişim", "#" %></p>

		</div>
		<div class="links"> 
			<h3>SERVİSİMİZ</h3>
			<p><%= link_to "Havuzla.Com Nedir?", "#" %></p>
			<p><%= link_to "Güvenlik", "#" %></p>
			<p><%= link_to "Sık Sorulan Sorular", "#" %></p>
			<p><%= link_to "Az Sorulan Sorular", "#" %></p>
			<p><%= link_to "İş Ortakları", "#" %></p>
			<p><%= link_to "İş Ortağı Olun", "#" %></p>
		</div>

		<div class="links"> 
			<h3>BİZİ TAKİP EDİN !</h3>
			<div id="social">
				<%= link_to '<i class="icon-twitter"></i>'.html_safe, 'http://www.twitter.com/havuzla', {:style=>'font-size:30px;'} %> &nbsp; &nbsp; &nbsp;
				<%= link_to '<i class="icon-facebook"></i>'.html_safe, 'http://www.facebook.com/havuzla' , {:style=>'font-size:30px;'} %> &nbsp; &nbsp; &nbsp;
				<%= link_to '<i class="icon-google-plus"></i>'.html_safe, 'http://www.twitter.com/havuzla', {:style=>'font-size:30px;'} %>
			</div>
		</div>
		
		<div class="links"> 
			<h3>MÜŞTERİ HİZMETLERİ</h3>
			<p><%= link_to "destek@havuzla.com", "mailto:destek@havuzla.com?subject=Havuzla.com üzerinden yapılan destek talebi" %></p>
			<p>0212 &nbsp; 888 &nbsp; 8888</p>
			<p><%= link_to "Canlı Destek", "#" %></p>
		</div>

		<div class="links"> 
			<h3>DİĞER</h3>
			<p><%= link_to "Kullanım Koşulları", "#" %></p>
			<p><%= link_to "Gizlilik Sözleşmesi", "#" %></p>
		</div>

	</div>

</div>
</footer>